body {
  margin:0;
  padding:0;
  /* background-color: #F2E0DC; */
  background-color: #f2f2f2;
  font-family: 'M PLUS 2', sans-serif;
}

.room h1 {
  margin: 0;
  text-align: center;
  color: #03588C;
  font-size: 56px;
  text-shadow: 0px 6px rgba(242,142,22,.8);
  user-select: none;
}

.room canvas {
  margin: 24px auto 0;
}

.container{
  user-select: none;
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  margin: 56px 5%;
  transition: opacity .3s;
}

.container.show{
  user-select: auto;
  opacity: 1;
  z-index: 0;
  transition: opacity .3s;
}

.about{
  display: block;
  border-radius: 12px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0,.5);
  background-color: rgba(3, 140, 127, .9);
  padding: 64px;
  color: #F2E0DC;
}
